@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@500&family=Darker+Grotesque:wght@500&family=Noto+Sans+Symbols&family=Noto+Sans:wght@500&family=Public+Sans:wght@300&family=Roboto&family=Roboto+Mono&family=Young+Serif&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Young Serif', serif;
}


.gameContainer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.participants {
    display: flex;
    align-items: center;
    column-gap: 5px;
    margin: 20px 0;
}

#xField,
#oField {
    outline: none;
    padding: 10px 15px;
    font-size: 20px;
}

#startBtn {
    padding: 10px 15px;
    background-color: #d1a6fa;
    cursor: pointer;
    font-size: 20px;
    border: 1px solid transparent;
    color: white;
}

.winnerColor {
    color: #d1a6fa !important;
    animation: winningMoment;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes winningMoment {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}

@media screen and (max-width: 768px) {
    .participants {
        flex-direction: column;
        align-items: baseline;
        row-gap: 10px;
    }
}

.container {
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    position: relative;
}

.box {
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover {
    background-color: rgb(223, 252, 249);
}

.info {
    font-size: 22px;
}

.gameInfo {
    padding: 0 34px;
}

.gameInfo h1 {
    font-size: 2.5rem;
}


.br-0 {
    border-right: 0;
}

.bl-0 {
    border-left: 0;
}

.bt-0 {
    border-top: 0;
}

.bb-0 {
    border-bottom: 0;
}

#reset {
    padding: 10px 15px;
    background-color: rgb(209, 166, 250);
    cursor: pointer;
    font-size: 20px;
    border: 1px solid transparent;
    color: white;
}

.line {
    background-color: black;
    height: 3px;
    width: 0;
    position: absolute;
    /* background-color: #911d91; */
    transition: width 1s ease-in-out;
}

@media screen and (max-width: 950px) {
    .gameContainer {
        flex-wrap: wrap;
    }

    .gameInfo {
        margin-top: 34px;
    }

    .gameInfo h1 {
        font-size: 1.5rem;
    }

    .container {
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
    }
}

#winnerList {
    margin-left: 100px;
    border-collapse: collapse;
    color: white;
    width: 250px;
    text-align: center;
    display: none;
}

#winnerList tr {
    /* border: 1px solid black; */
    width: 100%;
}

#winnerList tr th {
    padding: 5px 10px;
    font-size: 22px;
}

#winnerList tr:nth-child(1) {
    background-color: rgb(204, 157, 249);
}

#winnerList tr {
    background-color: rgb(226, 204, 247);
}

#winnerList tr td {
    padding: 5px 10px;
    font-size: 18px;
}